.logo:hover{
    color:#141414;
    letter-spacing:10px;
    animation: acender 0.5s forwards;
    transition: 0.6s;
}

@keyframes acender{
    to{
        color:#fff;
        text-shadow: 0 0 10px #32f332, 0 0 20px #a8afe1;
    }
}

.titulo{
    background-image:linear-gradient(to right, #95ff00, purple, #95ff00);
    margin-bottom: 20px;
    -webkit-text-fill-color:transparent;
    background-clip: text;
}

.titulo:hover{
    animation: acender 0.5s forwards;
}